## Tuple

Tuple adalah sebuah tipe data yang mirip seperti list. Hanya saja tipe data ini bersifat immutable alias tidak bisa dirubah.

Untuk penulisan tipe data tuple, penulisannya diapit dengan tanda (). Dan untuk pemisah datanya dipisah dengan tanda koma.

In [1]:
# Contoh inisalisasi data tuple
data = ("matematika", "kalkulus", "statistik")

In [2]:
# Menampikan seluruh data tuple
print(data)

('matematika', 'kalkulus', 'statistik')

In [3]:
# mengubah isi pada data tuple

data[0] = "biologi"

TypeError: 'tuple' object does not support item assignment

Pada contoh kode program diatas, yaitu mencoba mengubah isi dari data tuple, program akan menampilkan error. Hal ini dikarenakan tipe data tuple bersifat immutable seperti yang dijelaskan diatas.

In [4]:
# Menggabungkan 2 data tuple
data = ("matematika", "kalkulus", "statistik")
data2 = ("bahasa", "pkn", "biologi")

data_gabung = data + data2

data_gabung

('matematika', 'kalkulus', 'statistik', 'bahasa', 'pkn', 'biologi')

Pada contoh kode program diatas, yaitu menggabungkan 2 data tuple menjadi 1 data. Hal ini bisa dilakukan karena tidak termasuk dalam manipulasi data yang telah didefinisikan. Tetapi menggabungkan 2 data sehingga menjadi 1 data baru.

Beda hal jika ingin menambahkan data baru pada data tuple yang telah didefinisikan, maka program akan menampilkan error. Karena data tuple yang telah didefinisikan tidak bisa di manipulasi lagi datanya.

Biasanya, tipe data ini didefinisikan sebagai tipe data pada variable yang datanya telah final, hal ini diperlukan agar data yang telah diproses tidak berubah lagi saat digunakan pada fungsi atau kode program lain.

## Dictionary

Dictionary adalah tipe data yang sama seperti list. Hanya saja tipe data ini harus mendefinisikan index dari nilai yang didefinisikan. Secara umum bisa disebut dengan objek.

Karakteristik dari tipe data ini adalah penulisannya diapit dengan tanda {} atau kurung kurawal dan datanya dipisahkan oleh tanda coma. Dan juga setiap value harus didefinisikan index nya yang dimana di index dan value dipisahkan dengan tanda titik dua (:).

In [7]:
# Contoh inisialisasi data dictionary
biodata = {
    "nama"    : "Nama Anda",
    "nim"     : "Nim Anda",
    "jurusan" : "Jurusan Anda"
}

print(biodata)

{'nama': 'Nama Anda', 'nim': 'Nim Anda', 'jurusan': 'Jurusan Anda'}

In [8]:
# menampilkan nilai index nama dari data dictionary
print(biodata["nama"])

Nama Anda

Untuk menampilkan nilai dari data dictionary secara spesifik, dapat dengan menyertakan index nya yang diapit dengan kurung siku seperti diatas

In [9]:
# Contoh mengubah isi pada data dictionary
biodata["nama"] = "Budi"

print(biodata)

{'nama': 'Budi', 'nim': 'Nim Anda', 'jurusan': 'Jurusan Anda'}

Untuk mengubah nilai dari data dictionary, caranya adalah dengan mendefinisikan variable dan indexnya yang diapit dengan kurung siku seperti diatas, lalu didefinisikan valuenya yang baru

In [10]:
# Menambahkan data baru didalam data dictionary
biodata["kelas"] = "Matematika A Indralaya"

print(biodata)

{'nama': 'Budi', 'nim': 'Nim Anda', 'jurusan': 'Jurusan Anda', 'kelas': 'Matematika A Indralaya'}

Untuk menambahkan data baru didalam dictionary, caranya sama seperti mengubah nilai, tinggal mendefinisikan index barunya saja.

In [11]:
# Menghapus data secara spesifik pada data dictionary
del biodata["kelas"]

print(biodata)

{'nama': 'Budi', 'nim': 'Nim Anda', 'jurusan': 'Jurusan Anda'}

Pada contoh diatas, adalah cara menghapus data pada data dictionary secara spesifik, caranya dalah dengan menambahkan syntax del lalu nama variable dengan index nya.

In [12]:
# Menghapus seluruh data pada data dictionary
biodata.clear()

print(biodata)

{}

Pada contoh diatas, adalah cara menghapus seluruh data dalam data dictionary sehingga variable biodata menjadi kosong sekarang.

Selanjutnya adalah menyalin data dictionary ke variable baru. Dalam penyalinan ini, dapat dilakukan dengan 2 cara, yaitu sebagai berikut.

In [13]:
# Menyalin data dengan metode 1
biodata = {
    "nama"    : "Nama Anda",
    "nim"     : "Nim Anda",
    "jurusan" : "Jurusan Anda"
}

biodataku = biodata

print(biodataku)

{'nama': 'Nama Anda', 'nim': 'Nim Anda', 'jurusan': 'Jurusan Anda'}

In [14]:
# Menyalin data dengan metode 2
biodata_baru = {
    "nama"    : "Budi",
    "nim"     : "0987654321",
    "jurusan" : "Matematika"
}

biodata_budi = biodata_baru.copy()

print(biodata_budi)

{'nama': 'Budi', 'nim': '0987654321', 'jurusan': 'Matematika'}

Perbedaan dari 2 cara diatas terletak pada saat proses kopinya.

Metode pertama, data yang dikopi tidak benar-benar disalin kedalam variable baru, tetapi isi dari variable biodata di referensikan kedalam variable biodataku. Sehingga saat data di variable biodata dimanipulasi, maka data pada variable biodataku akan berubah juga

Sedangkan pada metode kedua, data dari variable biodata_baru akan benar-benar disalin ke variable biodata_budi. Sehingga menjadi benar-benar data baru, walaupun data dari variable biodata_baru dirubah, maka data di variable biodata_budi tidak akan berubah.

In [15]:
# Pembuktian metode 1
biodata['nama'] = "Anto"

print(biodataku)

{'nama': 'Anto', 'nim': 'Nim Anda', 'jurusan': 'Jurusan Anda'}

In [16]:
# Pembuktian metode 2

biodata_baru['nama'] = "Budi Sentosa"

print(biodata_budi)

{'nama': 'Budi', 'nim': '0987654321', 'jurusan': 'Matematika'}

## Sets
Set merupakan tipe data gabungan dari tipe data list, tuple, dan dictionary. 

Tipe data ini memiliki memadukan karakteristik dari ketiga tipe data tersebut, yaitu : 

- Menggunakan kurung kurawal {} untuk mengapit datanya seperti dictionary
- Tidak memiliki index seperti list
- Tidak bisa dlakukan perubahan data seperti tuple


Akan tetapi, tipe data set bisa menambah data baru atau menghapus data, tidak seperti tuple.

In [18]:
# Contoh inisalisasi tipe data set

data_saya = {"Andika", "087712313123", "indralaya"}

print(data_saya)

{'Andika', '087712313123', 'indralaya'}

In [19]:
print(type(data_saya))

<class 'set'>

In [20]:
# Menambahkan data baru kedalam data tipe set
data_saya.add("matematika")

print(data_saya)

{'matematika', 'Andika', '087712313123', 'indralaya'}

In [21]:
# Menghapus data pada tipe data set
data_saya.remove("matematika")

print(data_saya)

{'Andika', '087712313123', 'indralaya'}

Untuk diketahui, tipe data set saat ditampilkan akan mengurutkan datanya secara otomatis seperti contoh-contoh diatas, hingga data dengan tipe set tidak bisa dilakukan sorting dan tidak bisa menentukan index nya.

# Function vs Procedure

## Function

Function (fungsi) berisi se deretan algoritma untuk mengoperasikan variabel dengan nilai return (nilai kembali)

In [2]:
import random
def angka_acak():
    angka = random.randint(0,10)
    return angka

In [3]:
print(angka_acak())

4

Perlu diperhatikan di dalam fungsi `angka_acak()` terdapat syntax:
```python
return angka
```

`return` digunakan untuk mengembalikan variabel ketika fungsi tersebut dipanggil

Karena fungsi tersebut mengembalikan variabel, variabel yang dikembalikan dari fungsi tersebut dapat dimasukkan ke dalam variabel lain

In [4]:
acak = angka_acak()
print(acak)

3

## Procedure

Procedure (prosedur) berisi se deretan algoritma untuk mengoperasikan variabel tanpa nilai return

In [5]:
def prosedur_print():
    print('Hello world!')

In [6]:
prosedur_print()

Hello world!

Prosedur dapat dimasukkan ke dalam variabel namun cara ini tidak baik saat implementasi karena akan membuat program yang dibuat menjadi lebih sulit untuk dibaca

In [7]:
a = prosedur_print

In [8]:
a()
prosedur_print()

Hello world!
Hello world!

Meskipun prosedur tersebut menjadi dua, kedua nya masih memiliki tipe fungsi yang sama

In [9]:
print(a)
print(prosedur_print)

<function prosedur_print at 0x7f23006303b0>
<function prosedur_print at 0x7f23006303b0>

# Argumen atau parameter

Argumen adalah variabel yang dimasukkan ke dalam sebuah fungsi untuk di proses. variabel yang berada di fungsi bersifat lokal. hanya dapat diakses oleh fungsi itu saja. tidak dapat di akses dari luar fungsi itu sendiri. namun variabel yang berada di luar fungsi dapat dibaca di dalam fungsi

Pada masing-masing fungsi, terdapat 1 argumen yang akan digunakan di dalam fungsi

In [10]:
def luas_persegi(sisi):
    luas = sisi*sisi
    return luas

def keliling_persegi(sisi):
    keliling = 4*sisi
    return keliling

def luas_lingkaran(r):
    luas = (22/7)*(r**2)
    return luas

def keliling_lingkaran(sisi):
    keliling = 4*sisi
    return keliling

Sel dibawah memberikan 1 argumen kepada fungsi `luas_persegi`

In [11]:
print(luas_persegi(5))

25

Sel dibawah terjadi error dikarenakan variabel `luas` berada di dalam fungsi `luas_persegi` dan `luas_lingkaran`. variabel `luas` hanya bisa diakses di dalam fungsi

In [12]:
print(luas)

NameError: name 'luas' is not defined

Sel dibawah menunjukkan fungsi `penambahan` dapat membaca variabel `a` yang berada di luar fungsi

In [13]:
a = 5

def penambahan(nilai):
    hasil = a+nilai
    return hasil

print(a)
a = penambahan(10)
print(a)

5
15

# Multiple Argumen

Fungsi yang dibuat dapat meminta lebih dari satu variabel yang diperlukan

In [14]:
def luas_persegi_panjang(panjang,lebar):
    luas = panjang*lebar
    return luas

def keliling_persegi_panjang(panjang,lebar):
    keliling = 2*(panjang+lebar)
    return keliling

def luas_segitiga(alas,tinggi):
    luas = (alas*tinggi)/2
    return luas

def keliling_segitiga(tegak,baring,miring):
    keliling = tegak+baring+miring
    return keliling

def pitagoras(tegak,baring):
    miring = ((tegak**2)*(baring**2))**(1/2)
    return miring

Argumen yang diminta, akan diberikan sesuai dengan urutannya. Pada sel dibawah, fungsi `luas_persegi_panjang` meminta 2 variabel yaitu `panjang` dan `lebar`. `8` akan digunakan sebagai `panjang`. `4` akan digunakan sebagai `lebar`

In [15]:
print(luas_persegi_panjang(8,4))

32

# Arbitrary argumen

Argumen yang diminta oleh suatu fungsi atau prosedur dapat dinamis. Pada suatu fungsi atau prosedur, dapat meminta satu argumen dengan menambah karakter `*` di depan argumen. Pada saat memanggil fungsi atau prosedur tersebut, fungsi atau prosedur dapat memberi lebih dari satu argumen sebagai `array`. 

Dengan begitu, pada saat memanggil fungsi tersebut, dapat memberi lebih dari satu argumen.

In [16]:
def thirdArg(*arr):
    print(f'{arr[2]}')

def firstArg(*arr):
    print(arr[0])

In [17]:
thirdArg('Pertama','Kedua','Ketiga')
firstArg('Pertama','Kedua','Ketiga')

Ketiga
Pertama

# Keyword Argumen

Sebelumnya sudah pernah di deklarasikan fungsi `luas_persegi_panjang`. Fungsi tersebut meminta 2 argumen. `panjang` dan `lebar`.

Argumen yang diberikan kepada suatu fungsi atau prosedur bisa diberikan tidak sesuai urutan asalkan argumen yang diminta diperjelas ketika diberi

Pada fungsi dibawah, fungsi `luas_persegi_panjang` diberi argumen `lebar` terlebih dahulu. Sedangkan pada fungsi tersebut, argumen pertama adalah `panjang`

In [18]:
print(luas_persegi_panjang(lebar=6,panjang=8))

48

# Arbitrary keyword argumen

Arbitrary keyword argumen memiliki sifat yang sama dengan Arbitrary argumen. Bedanya adalah argumen yang diberikan akan dibaca sebagai `dictionary` oleh fungsi atau prosedur. Perbedaan lainnya adalah pada deklarasi fungsi atau prosedur, argumen akan diberi karakter `**` sebelum argumen

<div>
<img src="day3-1.png" width="750"/>
</div>

In [19]:
def persegi(**nilai):
    if nilai['rumus'] == 'luas':
        hasil = nilai['sisi']*nilai['sisi']
    elif nilai['rumus'] == 'keliling':
        hasil = 4*nilai['sisi']
    else:
        hasil = 0
    return hasil

In [20]:
print(persegi(rumus='luas',sisi=10))

100

# Default parameter value

Fungsi atau prosedur yang dibuat, argumen yang diminta dapat diabaikan apabila argumen tersebut telah diberi nilai. Pada fungsi `perpangkatan`, argumen `pangkat` secara default telah di set menjadi angka `2`. Sehingga meskipun fungsi tersebut dipanggil tanpa argumen `pangkat`, fungsi `perpangkatan` masih dapat dijalankan hanya dengan argumen `x`

In [21]:
def perpangkatan(x,pangkat=2):
    hasil = x**pangkat
    return hasil

def akar(x,nilai_akar=2):
    hasil = x**(1/nilai_akar)
    return hasil

In [22]:
print(perpangkatan(5))
print(perpangkatan(3,3))
print(perpangkatan(x=7,pangkat=2))

25
27
49

In [23]:
print(akar(9))
print(akar(81,2))
print(akar(x=625,nilai_akar=4))

3.0
9.0
5.0

# Pass different data type to argumen

Argumen yang diberi pada fungsi atau prosedur, tidak dibatasi oleh tipe data. tipe data apapun dapat diberi kedalam fungsi atau prosedur. Asalkan penerapan yang diberikan terhadap variabel tersebut telah tepat

In [24]:
def rata_rata(arr):
    total_data = 0
    panjang_data = 0
    for data in arr:
        total_data = total_data+data
        panjang_data +=1
    hasil = total_data/panjang_data
    return hasil

<div>
<img src="day3-2.png" width="700"/>
</div>

In [25]:
hitung_rata2 = [5,2,4,5,1,2,6,8,9,3,4]

In [26]:
print(rata_rata(hitung_rata2))

4.454545454545454

# Recursion

Recursion (rekursi) adalah penerapan ketika didalam fungsi atau prosedur memanggil fungsi atau prosedur itu sendiri.

In [27]:
def recursion(i):
    if(i > 0):
        print(i)
        recursion(i - 1)
        
recursion(8)

8
7
6
5
4
3
2
1