# Dasar Python

## Syntax

Syntax adalah rangkaian aturan atas susunan kode atau ekspresi secara terstruktur.
Sifat penulisan syntax pada python:
- Case sensitive
- Tidak menggunakan titik koma
- Indentasi sebagai pembentuk struktur
- Tidak ketat terhadap tipe data
- Human friendly

### Case Sensitive
- Secara umum bahasa pemrograman bersifat case sensitive, artinya huruf kecil dengan huruf besar dikatakan tidak sama. Sebagai contoh pada penulisan variabel `ibu_kota` akan berbeda dengan variabel `Ibu_kota`.
```python
ibu_kota = "Palembang"
print(iBu_kota) # Error
```

### Tidak Menggunakan Titik Koma

- Berbeda dengan bahasa pemrograman yang lain, Python tidak menggunakan titik koma (kecuali pada kasus tertentu) pada statement.
- Di bawah ini merupakan contoh perbandingan penulisan statement dengan bahasa Java dan Python.

**Java**

```java
class Main {
    public static void main(String[] args) {
        // Statement di bawah ini harus diakhiri dengan titik koma
        System.out.println("Hello world"); 
    }
}
```
**Python**
```python
# Statement di bawah ini tidak menggunakan titik koma
print("Hello World")
```

### Indentasi sebagai Pembentuk Struktur
- Python menggunakan indentasi sebagai satu blok kode. Penulisan indentasi dapat dilakukan dengan tab atau space.
- Perlu diperhatikan bahwa penulisan indentasi dengan tab dan space yang dicampur aduk dapat menyebabkan eror pada program.

In [2]:
a = 5
b = 8
c = a + b

print(c)

13

In [3]:
a = 10

if a > 5:
  print('nilai a lebih dari 5')
   print('nilai a lebih dari 5')

IndentationError: unexpected indent (Temp/ipykernel_15440/3421586362.py, line 5)

### Tidak Ketat Terhadap Tipe Data
Python menganut penulisan variabel yang dinamis. Yaitu kita tidak memerlukan penentuan tipe data secara eksplisit. Sebagai contoh variabel `a` bertipe integer karena diisi dengan angka 5. Selanjutnya variabel tersebut diisi dengan string `Budi` sehingga berubah menjadi string.

In [12]:
# nilai awal berupa integer
a = 5
# kita ubah menjadi string dan tidak error
a = 'Budi'

print(a)

Budi

### Comments

Komentar (comment) adalah kode di dalam script Python yang tidak dieksekusi atau tidak dijalankan mesin.

In [1]:
# Contoh:
# Ini adalah komentar

"""
Penulisan Komentar lebih dari satu baris yaitu
dengan menggunakan kutip dua 3 kali dan 
ditutup dengan kutip dua 3 kali juga\
"""

print ("Hello World!") # Ini juga komentar

Hello World!

### Variables

- Variables adalah tempat untuk menyimpan nilai.
- Penulisan nama variabel harus diawali dengan huruf atau underscore. Misal `ayam`, `_ayam`, `ayam20`. Penulisan yang diawali dengan selain dari ketentuan dapat menyebabkan eror. Misal `33ayam`.
- Secara umum Python menggunakan style penamaan menggunakan huruf kecil yang dipisah dengan garis bawah. Misal `ayam_goreng`.

In [18]:
# Contoh:
x = 1
print (x)

a = "pisang"
print (a)

1
pisang

## Data Types

Tipe data adalah suatu media atau memori pada komputer yang digunakan untuk menampung informasi.

#### Macam-macam Tipe Data pada Python
- **Boolean**: Menyatakan benar `True` yang bernilai `1`, atau salah `False` yang bernilai `0`

- **String**: Menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit tanda " atau ')

- **Integer**: Menyatakan bilangan bulat

- **Float**: Menyatakan bilangan yang mempunyai koma

- **Complex**: Menyatakan pasangan angka real dan imajiner

- **List**: Data untaian yang menyimpan berbagai tipe data dan isinya bisa diubah-ubah

- **Tuple**: Data untaian yang menyimpan berbagai tipe data tapi isinya tidak bisa diubah

- **Dictionary**: Data untaian yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilai

<div>
<img src="gambar/day2-1.png" width="750"/>
</div>

In [23]:
#tipe data Boolean
print(True)

#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')

#tipe data Integer
print(20)

#tipe data Float
print(3.14)

#tipe data Complex
print(5j)

#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])

#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))

#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

True
Ayo belajar Python
Belajar Python Sangat Mudah
20
3.14
5j
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}

## Numbers

Number adalah tipe data Python yang menyimpan nilai numerik. 

Tipe data number pada python:
- **Int**: Merupakan bilangan bersifat diskrit.
- **Float**: Merupakan bilangan desimal.
- **Complex**: Merupakan pasangan angka real dan imajiner.

In [4]:
# Contoh:
x = 1    # int
y = 2.8  # float
z = 1j   # complex


print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## Casting

- Casting adalah konversi sebuah tipe data ke tipe data lain.
- Python menyediakan fungsi build-in untuk casting tipe data.
- `int()` digunakan untuk konversi ke tipe data integer.
- `float()` digunakan untuk konversi ke tipe data float.
- `str()` digunakan untuk konversi ke tipe data string.

In [3]:
# Casting integer
x = int(2.8)
y = int("3")

# Tipe data float yang dicasting ke integer akan otomatis dibulatkan.
print(x)
print(type(x))

# Tipe data string yang dicasting ke integer dapat dioperasikan secara matematis.
print(y + 4)

2
<class 'int'>
7

In [1]:
# Casting float
x = float(1)
y = float("3")
z = float("4.2")

# Bilangan integer yang dicasting ke float akan menghasilkan bilangan 0 di belakang koma.
print(x)
print(type(x))

# Demikian juga dengan string
print(y)
print(type(y))

# 
print(z)
print(type(z))

1.0
<class 'float'>
3.0
<class 'float'>
4.2
<class 'float'>

In [2]:
# Casting string
x = str(2) # Dari integer ke string
y = str(3.0) # Dari float ke string

print(x)
print(type(x))
print(y)
print(type(y))

2
<class 'str'>
3.0
<class 'str'>

# String

String merupakan tipe data teks yang terdiri dari beberapa karakter. Dibungkus dengan tanda kutip tunggal atau kutip ganda. Contoh string: `'Hello'` atau `"Hello"`.

In [4]:
# Dibungkus dengan kutip tunggal
name = 'Ivan'
phone_number = '082188778877'

# Dibungkus dengan kutip ganda
name = "Ivan"
phone_number = "082188778877"

# 
print("Ini dicetak")

Ini dicetak

## Python Triple Quotes
Python triple quotes digunakan dengan membiarkan string ditulis dalam beberapa baris. Sintaks untuk triple quotes terdiri dari tiga tanda **kutip tunggal** atau **kutip ganda** ditulis berturut-turut.

In [1]:
long_string = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(long_string)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Panjang String
Panjang string (jumlah karakter dalam string) dapat dicari dengan menggunakan fungsi `len()`.

In [2]:
any = "How are you?"
print(len(any))

12

## String Formatting
- String formatting memungkinkan kita untuk menyuntikkan variabel ke dalam string dari pada menggunakan penggabungan string dengan concatination.
- String concatination pada Python tidak bisa secara langsung dilakukan apabila tipe data yang digabung bukan berupa string. Perlu melakukan casting terlebih dahulu. Sebagai contoh:
```python
x = 2019
str = "Tahun ini merupakan tahun " + str(x) + " masehi."
```
- Oleh karena itu, string formatting memudahkan dalam operasi ini.
- String formatting terbagi menjadi beberapa cara.

### “Old Style” String Formatting (% Operator)

In [24]:
name = "John"

print('Hello, %s' % name)

Hello, John

### “New Style” String Formatting (str.format)

In [13]:
name = "John"

print('Hello, {}'.format(name))

Hello, John

### String Interpolation / f-Strings (Python 3.6+)

In [14]:
name = "John"

print(f'Hello, {name}!')

Hello, John!

### Template Strings (Standard Library)

In [19]:
from string import Template
name = "John"

t = Template('Hey, $name!')
t.substitute(name=name)

'Hey, John!'

# Boolean
Boolean adalah suatu tipe data yang hanya mempunyai dua nilai. Yaitu `True` atau `False` (benar atau salah)

In [1]:
x = True
y = False

print(x)
print(y)

True
False

# Operators

## Arithmetic Operators
| Operator | Contoh | Makna |
| :-----------: | :-----------: | :----------- |
| + | +x | Positif |
| + | x + y | Penambahan |
| - | -x | Negatif |
| - | x - y | Pengurangan |
| * | x * y | Perkalian |
| / | x / y | Pembagian yang menghasilkan float |
| % | x % y | Modulo |
| // | x // y | Pembagian dibulatkan |
| ** | x ** y | Perpangkatan |

In [5]:
x = 10
y = 3

print(f'10 + 3 = {x+y}')
print(f'10 - 3 = {x-y}')
print(f'10 * 3 = {x*y}')
print(f'10 / 3 = {x/y}')
print(f'10 % 3 = {x%y}')
print(f'10 ** 3 = {x**y}')
print(f'10 // 3 = {x//y}')

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 % 3 = 1
10 ** 3 = 1000
10 // 3 = 3

## Comparison Operators
| Operator | Contoh | Makna |
| :-----------: | :-----------: | :----------- |
| == | x == y | Sama dengan |
| != | x != y | Tidak sama dengan |
| < | x < y | Lebih kecil |
|<= | x <= y | Lebih kecil atau sama dengan |
| > | x > y | Lebih besar |
| >= | x >= y | Lebih besar atau sama dengan |

In [25]:
x = 10
y = 12

print('x > y is',x>y)

print('x < y is',x<y)

print('x == y is',x==y)

print('x != y is',x!=y)

print('x >= y is',x>=y)

print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

## Logical Operators
- Operator ini membandingkan dua nilai yang akan menghasilkan boolean.
| Operator | Contoh | Makna |
| :-----------: | :-----------: | :----------- |
    | not | x not y | `True` jika x adalah `False` |
| or | x or y | `True` jika x atau y bernilai `True` |
| and | x and y | `True` jika x dan y bernilai `True` |

In [24]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

# Kondisi
- Conditional statements membantu dalam membuat keputusan dengan kondisi yang diberikan.
- Python memiliki beberapa jenis conditional statements:
    1. `if`
    2. `if-else`
    3. nested `if`
    4. `if...elif` ladder

## Pernyataan `if`
- Pernyataan ini merupakan fundamental dari pernyataan pengambilan keputusan.
- Kode di dalam blok akan dieksekusi jika kondisi yang ditentukan terpenuhi.
- Pernyataan di dalam if dapat berbentuk satu baris atau multi-baris (blok).
- Sintaks dari pernyataan if:
```python
if expression:
    # statement
```
`expression` di atas merupakan kondisi yang didefinisikan.
- Berikut flowchart yang menggambarkan bagaimana pengkondisian bekerja.
<img src="gambar/day2-2.png" alt="day2-2" width="400"/>
- Flowchart di atas apabila dikonversi kode program, maka hasilnya akan seperti di bawah.

In [26]:
nilai = 9

#jika kondisi True maka program akan mengeksekusi perintah dibawahnya
if(nilai > 7):
    print("Sembilan lebih besar dari angka tujuh") # Kondisi Benar, Dieksekusi

Sembilan Lebih Besar Dari Angka Tujuh

- Apabila ekspresi menghasilkan nilai `False`, maka program hanya akan melewati blok kode seperti program di bawah ini.

In [9]:
nilai = 9

#jika kondisi False maka program tidak akan mengeksekusi perintah dibawahnya
if(nilai > 10):
    print("Sembilan lebih besar dari angka sepuluh") # Kondisi Salah, Maka tidak tereksekusi

## Pernyataan `if-else`
- Pernyataan ini memanfaatkan sisi True dan False di kondisi yang diberikan.
- Ketika kondisi menghasilkan nilai `True` makak pernyataan di dalam blok `if` akan dieksekusi. Sebaliknya, jika bernilai `False`, maka pernyataan di dalam `else` akan dijalankan.
- Sintaks dari pernyataan `if-else`:
```python
if expression:
    # statement jika True
else:
    # statement jika False
```
- Contoh flowchart dan kode pernyataan `if-else` digambarkan di bawah ini.
<img src="gambar/day2-3.png" alt="day2-3" width="400"/>

In [14]:
nilai = 3
#Jika pernyataan pada if bernilai TRUE maka if akan dieksekusi, tetapi jika FALSE kode pada else yang akan dieksekusi.
if(nilai > 7):
    print("Selamat Anda lulus")
else:
    print("Maaf Anda Tidak lulus")

Maaf Anda Tidak Lulus

## Pernyataan `if...elif`

- Dalam kasus ini, kondisi if akan dievaluasi akan dijalankan saat program memasuki pernyataan `if`. Jika kondisi menghasilkan `False`, maka pernyataan `elif` akan dijalankan. Jika kondisi `elif` juga menghasilkan `False`, maka pernyataan `else` akan dijalankan.
- Sintaks dari pernyataan `if...elif`:
```python
if expression1:
    # statement jika expression1 True
elif expression2:
    # statement jika expression2 True
else:
    # statement jika seluruhnya False
```
- Berikut contoh flowchart dan kode.
<img src="gambar/day2-4.png" alt="day2-4"/>

In [10]:
hari = "Minggu"

if(hari == "Senin"):
    print("Saya akan kuliah")
elif(hari == "Selasa"):
    print("Saya akan kuliah")
elif(hari == "Rabu"):
    print("Saya akan kuliah")
elif(hari == "Kamis"):
    print("Saya akan kuliah")
elif(hari == "Jumat"):
    print("Saya akan kuliah")
elif(hari == "Sabtu"):
    print("Saya akan libur")
elif(hari == "Minggu"):
    print("Saya akan libur")
else:
    print("Nama hari tidak dikenali")

Saya akan libur

## Pernyataan nested `if`
- Pernyataan `if` dapat dibuat di dalam pernyataan `if` lainnya. Ini diperlukan ketika kondisi variabel perlu diproses lebih dari sekali.
- Pernyataan `if`, `if-else`, `if...elif` dapat digunakan dalam kasus ini.
- Contoh sintaks dari pernyataan nested `if`:
```python
if expression1:
    if expression2:
        # Dieksekusi jika expression1 dan expression2 True
else:
    # statement jika False
```
- Berikut contoh flowchart dan kodenya.
<img src="gambar/day2-5.png" alt="day2-5"/>

In [11]:
nilai = 8
if nilai >= 0:
    if nilai == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

# Perulangan
- Perulangan (loop) merupakan salah satu dasar entitas yang ada pada bahasa pemrograman. Dengan pernyataan loop, kita dapat mengeksekusi kode berulang kali sampai pada kondisi `False`. Sekali kondisi menjadi `False`, maka program akan mengakhiri iterasi.
- Kita dapat membuat loop dari array, seperti list, dictionary, dan lain-lain atau membuat loop dari jumlah iterasi yang ditentukan.
- Di dalam Python terdapat dua cara penulisan loop yang berbeda, yaitu **while loop** dan **for loop**.

## While Loop
- Pernyataan while loop akan memeriksa kondisi pada saat diawal eksekusi sampai kondisi terpenuhi(`False`).
- Pernyataan ini akan mengeksekusi blok kode berulang kali sampai kondisi terpenuhi. Kondisi kapan terpenuhinya tidak ditetapkan seberapa banyak iterasi itu diulang.
<!-- <img src="day2-6.png" alt="day2-6" width="400"/> -->
![day2-6](gambar/day2-6.png)
- Sintaks while loop sebagai berikut.
```python
while condition:
    # The loop body
```
`condition` merupakan kriteria yang akan mengiterasi loop. Selama bernilai `True` maka blok dari loop akan dijalankan. Setelah berubah menjadi `False` maka Python akan menghentikan eksekusi loop tersebut.
- Pada contoh program di bawah, terdapat variabel `count` yang bernilai awal `0`. Ketika pernyataan while dijalankan, maka pemeriksaaan kondisi akan dilakukan terlebih dahulu. Dalam hal ini, `count < 9` akan menghasilkan nilai `True` maka blok kode akan dijalankan. Di dalam loop, kita menambahkan variabel `count` dengan angka 1 sehingga `count` sekarang menjadi 1. Kondisi pada iterasi selanjutnya akan menghasilkan `True` hingga angka `count` mencapai nilai 9 yang mengakibatkan pemeriksaan menghasilkan `False`, maka eksekusi akan berhenti.
<!-- <img src="day2-7.png" alt="day2-7" width="400"/> -->
![day2-7](gambar/day2-7.png)

In [16]:
#Contoh penggunaan While Loop
#Catatan: Penentuan ruang lingkup di Python bisa menggunakan tab alih-alih menggunakan tanda kurung

angka = 0
while (angka < 9):
    print ("Angka: ", angka)
    angka = angka + 1

The count is:  0
The count is:  1
The count is:  2
The count is:  3
The count is:  4
The count is:  5
The count is:  6
The count is:  7
The count is:  8
Good bye!

## For Loop

## For Loop
- Pernyataan for loop digunakan untuk mengiterasi kode program dari sequence yang diberikan. Sequence dapat berupa string, list, tuple, dan lain-lain.
- Selama panjang dari sequence yang diberikan belum tercapai, maka pernyataan tersebut akan mengiterasi blok kode.
![day2-8](gambar/day2-8.png)
- Sintaks for loop sebagai berikut.
```python
for value in sequence:
    # The loop body
```
- `sequence` pada sintaks di atas dapat berupa variabel yang dapat diiterasi (misal string, list, tuple) atau range yang ditentukan menggunakan fungsi `range()`.
- Fungsi `range()` akan menciptakan deretan angka dari parameter yang ditentukan.
```python
range(10) # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
range(4, 8) # 4, 5, 6, 7
range(4, 20, 2) # 4, 6, 8, 10, 12, 14, 16, 18
```
- Contoh pertama dan kedua pada program di bawah terdapat list dengan jumlah item tertentu. Pernyataan for akan mengiterasi item pada list satu persatu menjadi variabel x (contoh pertama) hingga mencapai item terakhir.
- Contoh ketiga menggunakan fungsi `range()` untuk mengiterasi dari hingga sampai angka yang ditentukan. Dalam kasus ini parameter fungsi tersebut diisi dengan angka 10 sehingga akan mengiterasi sebanyak 10 kali (dari 0 sampai 9).

In [17]:
#Contoh pengulangan for pada tipe data list
angka = [1,2,3,4,5]
for x in angka:
    print(x)

buah = ["nanas", "apel", "jeruk"]
for makanan in buah:
    print ("Saya suka makan", makanan)

1
2
3
4
5
Saya suka makan nanas
Saya suka makan apel
Saya suka makan jeruk

Variabel `x` merepresentasikan setiap item yang berada di variabel `angka`. 

Variabel `makanan` merepresentasikan setiap item yang berada di variabel `buah`.

## Nested Loops
- Sama seperti nested if-else, loop dapat juga memilik loop di dalamnya.

![day2-9](gambar/day2-9.png)

In [16]:
#Contoh penggunaan Nested Loop
#Catatan: Penggunaan modulo pada kondisional mengasumsikan nilai selain nol sebagai True(benar) dan nol sebagai False(salah)

i = 2
while(i < 100):
    j = 2
    while(j <= (i/j)):
        if not(i%j):
            break
        j = j + 1
    if (j > i/j):
        print(i, " adalah prima")
    i = i + 1

2  adalah prima
3  adalah prima
5  adalah prima
7  adalah prima
11  adalah prima
13  adalah prima
17  adalah prima
19  adalah prima
23  adalah prima
29  adalah prima
31  adalah prima
37  adalah prima
41  adalah prima
43  adalah prima
47  adalah prima
53  adalah prima
59  adalah prima
61  adalah prima
67  adalah prima
71  adalah prima
73  adalah prima
79  adalah prima
83  adalah prima
89  adalah prima
97  adalah prima

## Break dan Continue
- Secara default Python akan mengiterasi sampai pada batas yang ditentukan.
- Terkadang ada kasus di mana ingin menghentikan loop sebelum pada waktunya. Untuk melakukan hal tersebut maka kata kunci `break` dapat digunakan.
- Untuk melewati/melompati iterasi saat ini dan berlanjut ke iterasi berikutnya, maka solusinya adalah menggunakan kata kunci `continue`

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in numbers:
    if i == 5:
        break
    print(i)

1
2
3
4

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in numbers:
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

# Containers
- Python memiliki beberapa tipe data build-in untuk menampung kumpulan nilai yang bertipe data tertentu.
- Kumpulan nilai pada container dapat diiterasi menggunakan looping.
- Beda tipe data container maka tujuan penggunan dan kecepatan komputasi juga berbeda.
- Tipe-tipe data container:
    - List
    - Tuple
    - Dictionary
    - Set

## List
- List merupakan struktur data yang bersifat **mutable** (dapat diubah) dan memiliki indeks. Setiap elemen yang berada di dalamnya disebut dengan item.
- List didefinisikan sebagai kumpulan nilai dengan tipe data tertentu yang dipisah dengan koma dan dibungkus dengan kurung siku `[]`.
- List dapat dibayangkan sebagai perpustakaan yang mana item di dalamnya sebagai buku-buku yang tersusun terurut berdasarkan nomor buku.
- Berikut contoh dari list.

In [3]:
contoh_list = ["kimia", "fisika", "biologi", "matematika"]

print(contoh_list)

['kimia', 'fisika', 'biologi', 'matematika']

- List memiliki indeks berjenis integer. Indeks ini dimulai dari 0.
![List index](listindex.png)

### Mengakses Item
- Mengakses item pada list sama seperti memanggil variabel pada umumnya, hanya saja kita menentukan indeks yang mana perlu diambil.
- Sintaks pengaksesan menggunakan kurung siku yang berisi indeks setelah nama variabelnya(`[]`). Misalnya `contoh_list[2]`.

In [4]:
list1 = ["kimia", "fisika", 1993, 2017]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]

print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  kimia
list2[1:5]:  [2, 3, 4, 5]

### Mengubah nilai item
Mengubah nilai pada item sama halnya dengan mengubah variabel.

In [5]:
list = ['fisika', 'kimia', 1993, 2017]
print ("Nilai ada pada index 2 : ", list[2])

list[2] = 2001 # Item pada indeks ke-2 diubah dengan nilai baru 
print ("Nilai baru ada pada index 2 : ", list[2])

Nilai ada pada index 2 :  1993
Nilai baru ada pada index 2 :  2001

### Menghapus Item
Item pada list dapat dihapus dengan keyword `del`.

In [6]:
list = ['fisika', 'kimia', 1993, 2017]

print (list)
del list[2] # Item pada indeks ke-2 dihapus
print ("Setelah dihapus nilai pada index 2 : ", list)

['fisika', 'kimia', 1993, 2017]
Setelah dihapus nilai pada index 2 :  ['fisika', 'kimia', 2017]

### Kenapa memilih List?
- **List bersifat dinamis**: itu berarti bahwa kita dapat menambah beberapa elemen, mengupdatenya, atau menghapusnya. Kita tidak perlu menentukan panjang awal dari list saat deklarasi. Panjang list akan otomatis bertambah saat item ditambahkan.
- **List bersifat ordered**: Elemen pada list akan tersusun sesuai urutan pada saat deklarasi.
- **List bersifat heterogenous**: Sebuah list dapat mengandung tipe data yang berbeda-beda. Seperti contoh, list menampung tipe data integer, float, string, dan bahkan menampung list di dalamnya.
- **Duplikasi diperbolehkan**: List pada Python dapat mengandung beberapa elemen dengan nilai yang sama.