## Tuple

Tuple adalah sebuah tipe data yang mirip seperti list. Hanya saja tipe data ini bersifat immutable alias tidak bisa dirubah.

Untuk penulisan tipe data tuple, penulisannya diapit dengan tanda (). Dan untuk pemisah datanya dipisah dengan tanda koma.

In [ ]:
# Contoh inisalisasi data tuple
data = ("matematika", "kalkulus", "statistik")

In [ ]:
# Menampikan seluruh data tuple
print(data)

In [ ]:
# mengubah isi pada data tuple

data[0] = "biologi"

Pada contoh kode program diatas, yaitu mencoba mengubah isi dari data tuple, program akan menampilkan error. Hal ini dikarenakan tipe data tuple bersifat immutable seperti yang dijelaskan diatas.

In [ ]:
# Menggabungkan 2 data tuple
data = ("matematika", "kalkulus", "statistik")
data2 = ("bahasa", "pkn", "biologi")

data_gabung = data + data2

data_gabung

Pada contoh kode program diatas, yaitu menggabungkan 2 data tuple menjadi 1 data. Hal ini bisa dilakukan karena tidak termasuk dalam manipulasi data yang telah didefinisikan. Tetapi menggabungkan 2 data sehingga menjadi 1 data baru.

Beda hal jika ingin menambahkan data baru pada data tuple yang telah didefinisikan, maka program akan menampilkan error. Karena data tuple yang telah didefinisikan tidak bisa di manipulasi lagi datanya.

Biasanya, tipe data ini didefinisikan sebagai tipe data pada variable yang datanya telah final, hal ini diperlukan agar data yang telah diproses tidak berubah lagi saat digunakan pada fungsi atau kode program lain.

## Dictionary

Dictionary adalah tipe data yang sama seperti list. Hanya saja tipe data ini harus mendefinisikan index dari nilai yang didefinisikan. Secara umum bisa disebut dengan objek.

Karakteristik dari tipe data ini adalah penulisannya diapit dengan tanda {} atau kurung kurawal dan datanya dipisahkan oleh tanda coma. Dan juga setiap value harus didefinisikan index nya yang dimana di index dan value dipisahkan dengan tanda titik dua (:).

In [ ]:
# Contoh inisialisasi data dictionary
biodata = {
    "nama"    : "Nama Anda",
    "nim"     : "Nim Anda",
    "jurusan" : "Jurusan Anda"
}

print(biodata)

In [ ]:
# menampilkan nilai index nama dari data dictionary
print(biodata["nama"])

Untuk menampilkan nilai dari data dictionary secara spesifik, dapat dengan menyertakan index nya yang diapit dengan kurung siku seperti diatas

In [ ]:
# Contoh mengubah isi pada data dictionary
biodata["nama"] = "Budi"

print(biodata)

Untuk mengubah nilai dari data dictionary, caranya adalah dengan mendefinisikan variable dan indexnya yang diapit dengan kurung siku seperti diatas, lalu didefinisikan valuenya yang baru

In [ ]:
# Menambahkan data baru didalam data dictionary
biodata["kelas"] = "Matematika A Indralaya"

print(biodata)

Untuk menambahkan data baru didalam dictionary, caranya sama seperti mengubah nilai, tinggal mendefinisikan index barunya saja.

In [ ]:
# Menghapus data secara spesifik pada data dictionary
del biodata["kelas"]

print(biodata)

Pada contoh diatas, adalah cara menghapus data pada data dictionary secara spesifik, caranya dalah dengan menambahkan syntax del lalu nama variable dengan index nya.

In [ ]:
# Menghapus seluruh data pada data dictionary
biodata.clear()

print(biodata)

Pada contoh diatas, adalah cara menghapus seluruh data dalam data dictionary sehingga variable biodata menjadi kosong sekarang.

Selanjutnya adalah menyalin data dictionary ke variable baru. Dalam penyalinan ini, dapat dilakukan dengan 2 cara, yaitu sebagai berikut.

In [ ]:
# Menyalin data dengan metode 1
biodata = {
    "nama"    : "Nama Anda",
    "nim"     : "Nim Anda",
    "jurusan" : "Jurusan Anda"
}

biodataku = biodata

print(biodataku)

In [ ]:
# Menyalin data dengan metode 2
biodata_baru = {
    "nama"    : "Budi",
    "nim"     : "0987654321",
    "jurusan" : "Matematika"
}

biodata_budi = biodata_baru.copy()

print(biodata_budi)

Perbedaan dari 2 cara diatas terletak pada saat proses kopinya.

Metode pertama, data yang dikopi tidak benar-benar disalin kedalam variable baru, tetapi isi dari variable biodata di referensikan kedalam variable biodataku. Sehingga saat data di variable biodata dimanipulasi, maka data pada variable biodataku akan berubah juga

Sedangkan pada metode kedua, data dari variable biodata_baru akan benar-benar disalin ke variable biodata_budi. Sehingga menjadi benar-benar data baru, walaupun data dari variable biodata_baru dirubah, maka data di variable biodata_budi tidak akan berubah.

In [ ]:
# Pembuktian metode 1
biodata['nama'] = "Anto"

print(biodataku)

In [ ]:
# Pembuktian metode 2

biodata_baru['nama'] = "Budi Sentosa"

print(biodata_budi)

## Sets
Set merupakan tipe data gabungan dari tipe data list, tuple, dan dictionary. 

Tipe data ini memiliki memadukan karakteristik dari ketiga tipe data tersebut, yaitu : 

- Menggunakan kurung kurawal {} untuk mengapit datanya seperti dictionary
- Tidak memiliki index seperti list
- Tidak bisa dlakukan perubahan data seperti tuple


Akan tetapi, tipe data set bisa menambah data baru atau menghapus data, tidak seperti tuple.

In [ ]:
# Contoh inisalisasi tipe data set

data_saya = {"Andika", "087712313123", "indralaya"}

print(data_saya)

In [ ]:
print(type(data_saya))

In [ ]:
# Menambahkan data baru kedalam data tipe set
data_saya.add("matematika")

print(data_saya)

In [ ]:
# Menghapus data pada tipe data set
data_saya.remove("matematika")

print(data_saya)

Untuk diketahui, tipe data set saat ditampilkan akan mengurutkan datanya secara otomatis seperti contoh-contoh diatas, hingga data dengan tipe set tidak bisa dilakukan sorting dan tidak bisa menentukan index nya.

# Function vs Procedure

## Function

Function (fungsi) berisi se deretan algoritma untuk mengoperasikan variabel dengan nilai return (nilai kembali)

In [ ]:
import random
def angka_acak():
    angka = random.randint(0,10)
    return angka

In [ ]:
print(angka_acak())

Perlu diperhatikan di dalam fungsi `angka_acak()` terdapat syntax:
```python
return angka
```

`return` digunakan untuk mengembalikan variabel ketika fungsi tersebut dipanggil

Karena fungsi tersebut mengembalikan variabel, variabel yang dikembalikan dari fungsi tersebut dapat dimasukkan ke dalam variabel lain

In [ ]:
acak = angka_acak()
print(acak)

## Procedure

Procedure (prosedur) berisi se deretan algoritma untuk mengoperasikan variabel tanpa nilai return

In [ ]:
def prosedur_print():
    print('Hello world!')

In [ ]:
prosedur_print()

Prosedur dapat dimasukkan ke dalam variabel namun cara ini tidak baik saat implementasi karena akan membuat program yang dibuat menjadi lebih sulit untuk dibaca

In [ ]:
a = prosedur_print

In [ ]:
a()
prosedur_print()

Meskipun prosedur tersebut menjadi dua, kedua nya masih memiliki tipe fungsi yang sama

In [ ]:
print(a)
print(prosedur_print)

# Argumen atau parameter

Argumen adalah variabel yang dimasukkan ke dalam sebuah fungsi untuk di proses. variabel yang berada di fungsi bersifat lokal. hanya dapat diakses oleh fungsi itu saja. tidak dapat di akses dari luar fungsi itu sendiri. namun variabel yang berada di luar fungsi dapat dibaca di dalam fungsi

Pada masing-masing fungsi, terdapat 1 argumen yang akan digunakan di dalam fungsi

In [ ]:
def luas_persegi(sisi):
    luas = sisi*sisi
    return luas

def keliling_persegi(sisi):
    keliling = 4*sisi
    return keliling

def luas_lingkaran(r):
    luas = (22/7)*(r**2)
    return luas

def keliling_lingkaran(sisi):
    keliling = 4*sisi
    return keliling

Sel dibawah memberikan 1 argumen kepada fungsi `luas_persegi`

In [ ]:
print(luas_persegi(5))

Sel dibawah terjadi error dikarenakan variabel `luas` berada di dalam fungsi `luas_persegi` dan `luas_lingkaran`. variabel `luas` hanya bisa diakses di dalam fungsi

In [ ]:
print(luas)

Sel dibawah menunjukkan fungsi `penambahan` dapat membaca variabel `a` yang berada di luar fungsi

In [ ]:
a = 5

def penambahan(nilai):
    hasil = a+nilai
    return hasil

print(a)
a = penambahan(10)
print(a)

# Multiple Argumen

Fungsi yang dibuat dapat meminta lebih dari satu variabel yang diperlukan

In [ ]:
def luas_persegi_panjang(panjang,lebar):
    luas = panjang*lebar
    return luas

def keliling_persegi_panjang(panjang,lebar):
    keliling = 2*(panjang+lebar)
    return keliling

def luas_segitiga(alas,tinggi):
    luas = (alas*tinggi)/2
    return luas

def keliling_segitiga(tegak,baring,miring):
    keliling = tegak+baring+miring
    return keliling

def pitagoras(tegak,baring):
    miring = ((tegak**2)*(baring**2))**(1/2)
    return miring

Argumen yang diminta, akan diberikan sesuai dengan urutannya. Pada sel dibawah, fungsi `luas_persegi_panjang` meminta 2 variabel yaitu `panjang` dan `lebar`. `8` akan digunakan sebagai `panjang`. `4` akan digunakan sebagai `lebar`

In [ ]:
print(luas_persegi_panjang(8,4))

# Arbitrary argumen

Argumen yang diminta oleh suatu fungsi atau prosedur dapat dinamis. Pada suatu fungsi atau prosedur, dapat meminta satu argumen dengan menambah karakter `*` di depan argumen. Pada saat memanggil fungsi atau prosedur tersebut, fungsi atau prosedur dapat memberi lebih dari satu argumen sebagai `array`. 

Dengan begitu, pada saat memanggil fungsi tersebut, dapat memberi lebih dari satu argumen.

In [ ]:
def thirdArg(*arr):
    print(f'{arr[2]}')

def firstArg(*arr):
    print(arr[0])

In [ ]:
thirdArg('Pertama','Kedua','Ketiga')
firstArg('Pertama','Kedua','Ketiga')

# Keyword Argumen

Sebelumnya sudah pernah di deklarasikan fungsi `luas_persegi_panjang`. Fungsi tersebut meminta 2 argumen. `panjang` dan `lebar`.

Argumen yang diberikan kepada suatu fungsi atau prosedur bisa diberikan tidak sesuai urutan asalkan argumen yang diminta diperjelas ketika diberi

Pada fungsi dibawah, fungsi `luas_persegi_panjang` diberi argumen `lebar` terlebih dahulu. Sedangkan pada fungsi tersebut, argumen pertama adalah `panjang`

In [ ]:
print(luas_persegi_panjang(lebar=6,panjang=8))

# Arbitrary keyword argumen

Arbitrary keyword argumen memiliki sifat yang sama dengan Arbitrary argumen. Bedanya adalah argumen yang diberikan akan dibaca sebagai `dictionary` oleh fungsi atau prosedur. Perbedaan lainnya adalah pada deklarasi fungsi atau prosedur, argumen akan diberi karakter `**` sebelum argumen

<div>
<img src="https://github.com/SamuelBenedix/WorkshopFKIP/blob/main/.ipynb_checkpoints/gambar/day3-1.png?raw=1" width="750"/>
</div>

In [ ]:
def persegi(**nilai):
    if nilai['rumus'] == 'luas':
        hasil = nilai['sisi']*nilai['sisi']
    elif nilai['rumus'] == 'keliling':
        hasil = 4*nilai['sisi']
    else:
        hasil = 0
    return hasil

In [ ]:
print(persegi(rumus='luas',sisi=10))

# Default parameter value

Fungsi atau prosedur yang dibuat, argumen yang diminta dapat diabaikan apabila argumen tersebut telah diberi nilai. Pada fungsi `perpangkatan`, argumen `pangkat` secara default telah di set menjadi angka `2`. Sehingga meskipun fungsi tersebut dipanggil tanpa argumen `pangkat`, fungsi `perpangkatan` masih dapat dijalankan hanya dengan argumen `x`

In [ ]:
def perpangkatan(x,pangkat=2):
    hasil = x**pangkat
    return hasil

def akar(x,nilai_akar=2):
    hasil = x**(1/nilai_akar)
    return hasil

In [ ]:
print(perpangkatan(5))
print(perpangkatan(3,3))
print(perpangkatan(x=7,pangkat=2))

In [ ]:
print(akar(9))
print(akar(81,2))
print(akar(x=625,nilai_akar=4))

# Pass different data type to argumen

Argumen yang diberi pada fungsi atau prosedur, tidak dibatasi oleh tipe data. tipe data apapun dapat diberi kedalam fungsi atau prosedur. Asalkan penerapan yang diberikan terhadap variabel tersebut telah tepat

In [ ]:
def rata_rata(arr):
    total_data = 0
    panjang_data = 0
    for data in arr:
        total_data = total_data+data
        panjang_data +=1
    hasil = total_data/panjang_data
    return hasil

<div>
<img src="https://github.com/SamuelBenedix/WorkshopFKIP/blob/main/.ipynb_checkpoints/gambar/day3-2.png?raw=1" width="700"/>
</div>

In [ ]:
hitung_rata2 = [5,2,4,5,1,2,6,8,9,3,4]

In [ ]:
print(rata_rata(hitung_rata2))

# Recursion

Recursion (rekursi) adalah penerapan ketika didalam fungsi atau prosedur memanggil fungsi atau prosedur itu sendiri.

In [ ]:
def recursion(i):
    if(i > 0):
        print(i)
        recursion(i - 1)
        
recursion(8)

# **Lambda**
lambda merupakan bentuk singkat dari fungsi (function)

In [ ]:
def luas_persegi_panjang(panjang,lebar):
    luas = panjang*lebar
    return luas

def keliling_persegi_panjang(panjang,lebar):
    keliling = 2*(panjang+lebar)
    return keliling

def luas_segitiga(alas,tinggi):
    luas = (alas*tinggi)/2
    return luas

def keliling_segitiga(tegak,baring,miring):
    keliling = tegak+baring+miring
    return keliling

def pitagoras(tegak,baring):
    miring = ((tegak**2)*(baring**2))**(1/2)
    return miring

Dari fungsi yang terdapat diatas bila dimasukkan kedalam struktur lambda akan menjadi seperti dibawah ini

In [ ]:
luas_persegi_panjang = lambda panjang,lebar : panjang * lebar 
keliling_persegi_panjang = lambda panjang,lebar : 2 * (panjang + lebar)
luas_segitigas = lambda alas,tinggi : (alas*tinggi)/2
keliling_segitiga = lambda tegak, baring, miring : tegak + baring + miring
pitagoras = lambda tegak, baring: ((tegak ** 2) * (baring ** 2) ** (1/2) )

Berikut merupakan salah satu contoh pemanggilan lambda dengan Argumen yang diminta, akan diberikan sesuai dengan urutannya. Pada sel dibawah, fungsi `luas_segitiga` meminta 2 variabel yaitu `panjang` dan `lebar`. `10` akan digunakan sebagai `panjang`. `2` akan digunakan sebagai `lebar`

In [ ]:
luas_segitiga(10,2)

# **Array**

Array adalah sebuah tipe data yang mirip seperti list.

Namun ada yang memberikan perbedaan terhadap kedua tipe data tersebut antara lain
1. List digunakan untuk melakukan operasi matematika pada urutan elemen yang lebih kecil
2. Penggunaan Array harus melakukan deklarasi sedangkan list tidak
3. Array menyimpan tipe data yang sama (homogen) sedangkan list dapat dengan tipe data yang berbeda (heterogen)

Deklrasi variable array dengan tipe data string semua

In [34]:
kereta = ['kabin_1','kabin_kosong','kabin_2','kabin_3','kabin_kosong','kabin_4','kabin_kosong']

In [35]:
print(kereta)

['kabin_1', 'kabin_kosong', 'kabin_2', 'kabin_3', 'kabin_kosong', 'kabin_4', 'kabin_kosong']

Untuk mendapatkan jumlah panjang array mengguanakan fungsi bawaan python yaitu `len()`

In [36]:
len(kereta)

7

Untuk memanggil data didalam array menggunakan Fungsi For untuk memanggil data didalam array secara satu persatu

In [37]:
for x in kereta:
  print(x)

kabin_1
kabin_kosong
kabin_2
kabin_3
kabin_kosong
kabin_4
kabin_kosong

Pada contoh kode dibawah ini merupakan fungsi yang terdapat didalam array contohnya adalah `append`,`pop`,`remove`,`sort` dan `reverse`

## Append
fungsi append bertujuan menambah 1 data pada list array terakhir

Pada contoh program dibawah ini bertujuan untuk menambah satu tipe data string bernilai `ayam_ketiga` kedalam array

In [38]:
kereta.append('kabin_5')

In [39]:
kereta

['kabin_1',
 'kabin_kosong',
 'kabin_2',
 'kabin_3',
 'kabin_kosong',
 'kabin_4',
 'kabin_kosong',
 'kabin_5']

## Pop
fungsi Pop bertujuan untuk mengeluarkan nilai data didalam array

Pada contoh program dibawah ini bertujuan untuk mengeluarkan nilai dari array pada indeks yang pertama

In [40]:
kereta.pop(1)

'kabin_kosong'

In [41]:
kereta

['kabin_1',
 'kabin_2',
 'kabin_3',
 'kabin_kosong',
 'kabin_4',
 'kabin_kosong',
 'kabin_5']

## Remove
fungsi Remove bertujuan untuk menghapus nilai yang sama sesuai parameter yang sudah berikan

In [42]:
kereta.remove('kabin_kosong')

In [43]:
kereta

['kabin_1', 'kabin_2', 'kabin_3', 'kabin_4', 'kabin_kosong', 'kabin_5']

## Sort
Fungsi sort bertujuan untuk mengurutkan nilai dari kecil hingga terbesar. Pengurutan ini bisa dengan tipe data string ataupun tipe data integer

In [7]:
data = [10,2,5,6,7,8,2,3,524,45,2,132,54]

In [8]:
data.sort()

In [9]:
data

[2, 2, 2, 3, 5, 6, 7, 8, 10, 20, 45, 54, 132, 524]

In [10]:
median = data[int(len(data)/2)]
median

8

In [25]:
kereta.sort()

In [44]:
kereta

['kabin_1', 'kabin_2', 'kabin_3', 'kabin_4', 'kabin_kosong', 'kabin_5']

## Reverse
Sedangankan untuk fungsi reverse kebalikan dari fungsi sort.

fungsi reverse bertujuan untuk mengurutkan nilai dari nilai terbesar hingga terkecil

In [ ]:
data.reverse()

In [ ]:
data

In [ ]:
kandang_ayam.reverse()

In [ ]:
kandang_ayam

# **Plotting Grafik**

Pada section ini kita akan belajar mengenai plotting.

Ploting dalam hal ini merupakan pemgambaran nilai menjadi suatu grafik.

untuk sesi ini kita akan menggunakan libary luar yaitu matplotlib sebagai bantuan dalam melakukan proses plotting (`https://matplotlib.org/stable/users/index.html`)

Berikut merupakan cara untuk menginstall matplotlib pada jupyter notebook

In [ ]:
!pip install matplotlib

In [ ]:
#pada cell ini bertujuan untuk memanggil libary matplotlib.pyplot 
import matplotlib.pyplot as plt

Pada contoh kode dibawah ini merupakan salah satu contoh sederhana dari proses plotting, syarat untuk melakukan plotting terdapat dua nilai yaitu nilai x dan y dengan jumlah nilai array yang salam

In [ ]:
x = [10, 20, 30, 40]
y = [20, 30, 40, 50]
 
# Merupakan proses ploting
plt.plot(x, y)
 
# Menambahkan title pada gambar ploting
plt.title("Plotting Sederhana")
 
# Menambah label pada sumbu x dan y
plt.ylabel("y-axis")
plt.xlabel("x-axis")

plt.show()

Pada contoh dibawah ini merupakan contoh dari Categorical Plotting atau melakukan plotting terhadap data yang terkelompok

Untuk melakukan plotting panjang nilai kelompok dan nilai harus memiliki nilai yang sama panjangnya seperti pada data diatas

In [ ]:
names = ['apple','orange','lemon','lime']
values = [10, 15, 5, 20 ]

Plotting data dapat dibedakan menjadi tiga yaitu `bar`,`pie`, `scatter` dan `line`

# Pie
Pada contoh kodingan dibawah ini menampilkan cara plotting dengan menggunakan pie

In [ ]:
plt.pie(values, labels = names)
plt.show()

# Bar
Pada contoh kodingan dibawah ini menampilkan cara plotting dengan menggunakan bar

In [ ]:
fig, axs = plt.subplots()
axs.bar(names, values)
fig.suptitle('Categorical Plotting dengan bar')

# Scatter
Pada contoh kodingan dibawah ini menampilkan cara plotting dengan menggunakan scatter

In [ ]:
fig, axs = plt.subplots()
axs.scatter(names, values)
fig.suptitle('Categorical Plotting dengan bar')

# Line
Pada contoh kodingan dibawah ini menampilkan cara plotting dengan menggunakan line

In [ ]:
fig, axs = plt.subplots()
axs.plot(names, values)
fig.suptitle('Categorical Plotting dengan bar')