# Pemateri Zahra

# Dasar Python

## Syntax

Syntax adalah rangkaian aturan atas susunan kode atau ekspresi secara terstruktur.
Sifat penulisan syntax pada python:
- Case sensitive
- Tidak menggunakan titik koma
- Indentasi sebagai pembentuk struktur
- Tidak ketat terhadap tipe data
- Human friendly

### Case Sensitive
- Secara umum bahasa pemrograman bersifat case sensitive, artinya huruf kecil dengan huruf besar dikatakan tidak sama. Sebagai contoh pada penulisan variabel `ibu_kota` akan berbeda dengan variabel `Ibu_kota`.
```python
ibu_kota = "Palembang"
print(iBu_kota) # Error
```

### Tidak Menggunakan Titik Koma

- Berbeda dengan bahasa pemrograman yang lain, Python tidak menggunakan titik koma (kecuali pada kasus tertentu) pada statement.
- Di bawah ini merupakan contoh perbandingan penulisan statement dengan bahasa Java dan Python.

**Java**

```java
class Main {
    public static void main(String[] args) {
        // Statement di bawah ini harus diakhiri dengan titik koma
        System.out.println("Hello world"); 
    }
}
```
**Python**
```python
# Statement di bawah ini tidak menggunakan titik koma
print("Hello World")
```

### Indentasi sebagai Pembentuk Struktur
- Python menggunakan indentasi sebagai satu blok kode. Penulisan indentasi dapat dilakukan dengan tab atau space.
- Perlu diperhatikan bahwa penulisan indentasi dengan tab dan space yang dicampur aduk dapat menyebabkan eror pada program.

In [2]:
a = 5
b = 8
c = a + b

print(c)

13

In [3]:
a = 10

if a > 5:
  print('nilai a lebih dari 5')
   print('nilai a lebih dari 5')

IndentationError: unexpected indent (Temp/ipykernel_15440/3421586362.py, line 5)

### Tidak Ketat Terhadap Tipe Data
Python menganut penulisan variabel yang dinamis. Yaitu kita tidak memerlukan penentuan tipe data secara eksplisit. Sebagai contoh variabel `a` bertipe integer karena diisi dengan angka 5. Selanjutnya variabel tersebut diisi dengan string `Budi` sehingga berubah menjadi string.

In [12]:
# nilai awal berupa integer
a = 5
# kita ubah menjadi string dan tidak error
a = 'Budi'

print(a)

Budi

### Comments

Komentar (comment) adalah kode di dalam script Python yang tidak dieksekusi atau tidak dijalankan mesin.

In [1]:
# Contoh:
# Ini adalah komentar

"""
Penulisan Komentar lebih dari satu baris yaitu
dengan menggunakan kutip dua 3 kali dan 
ditutup dengan kutip dua 3 kali juga\
"""

print ("Hello World!") # Ini juga komentar

Hello World!

### Variables

- Variables adalah tempat untuk menyimpan nilai.
- Penulisan nama variabel harus diawali dengan huruf atau underscore. Misal `ayam`, `_ayam`, `ayam20`. Penulisan yang diawali dengan selain dari ketentuan dapat menyebabkan eror. Misal `33ayam`.
- Secara umum Python menggunakan style penamaan menggunakan huruf kecil yang dipisah dengan garis bawah. Misal `ayam_goreng`.

In [18]:
# Contoh:
x = 1
print (x)

a = "pisang"
print (a)

1
pisang

## Data Types

Tipe data adalah suatu media atau memori pada komputer yang digunakan untuk menampung informasi.

#### Macam-macam Tipe Data pada Python
- **Boolean**: Menyatakan benar `True` yang bernilai `1`, atau salah `False` yang bernilai `0`

- **String**: Menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit tanda " atau ')

- **Integer**: Menyatakan bilangan bulat

- **Float**: Menyatakan bilangan yang mempunyai koma

- **Complex**: Menyatakan pasangan angka real dan imajiner

- **List**: Data untaian yang menyimpan berbagai tipe data dan isinya bisa diubah-ubah

- **Tuple**: Data untaian yang menyimpan berbagai tipe data tapi isinya tidak bisa diubah

- **Dictionary**: Data untaian yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilai

<div>
<img src="gambar/day2-1.png" width="750"/>
</div>

In [23]:
#tipe data Boolean
print(True)

#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')

#tipe data Integer
print(20)

#tipe data Float
print(3.14)

#tipe data Complex
print(5j)

#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])

#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))

#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

True
Ayo belajar Python
Belajar Python Sangat Mudah
20
3.14
5j
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}

## Numbers

Number adalah tipe data Python yang menyimpan nilai numerik. 

Tipe data number pada python:
- **Int**: Merupakan bilangan bersifat diskrit.
- **Float**: Merupakan bilangan desimal.
- **Complex**: Merupakan pasangan angka real dan imajiner.

In [4]:
# Contoh:
x = 1    # int
y = 2.8  # float
z = 1j   # complex


print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## Casting

- Casting adalah konversi sebuah tipe data ke tipe data lain.
- Python menyediakan fungsi build-in untuk casting tipe data.
- `int()` digunakan untuk konversi ke tipe data integer.
- `float()` digunakan untuk konversi ke tipe data float.
- `str()` digunakan untuk konversi ke tipe data string.

In [3]:
# Casting integer
x = int(2.8)
y = int("3")

# Tipe data float yang dicasting ke integer akan otomatis dibulatkan.
print(x)
print(type(x))

# Tipe data string yang dicasting ke integer dapat dioperasikan secara matematis.
print(y + 4)

2
<class 'int'>
7

In [1]:
# Casting float
x = float(1)
y = float("3")
z = float("4.2")

# Bilangan integer yang dicasting ke float akan menghasilkan bilangan 0 di belakang koma.
print(x)
print(type(x))

# Demikian juga dengan string
print(y)
print(type(y))

# 
print(z)
print(type(z))

1.0
<class 'float'>
3.0
<class 'float'>
4.2
<class 'float'>

In [2]:
# Casting string
x = str(2) # Dari integer ke string
y = str(3.0) # Dari float ke string

print(x)
print(type(x))
print(y)
print(type(y))

2
<class 'str'>
3.0
<class 'str'>

# Pemateri Rahmat

# String

String merupakan tipe data teks yang terdiri dari beberapa karakter. Dibungkus dengan tanda kutip tunggal atau kutip ganda. Contoh string: `'Hello'` atau `"Hello"`.

In [4]:
# Dibungkus dengan kutip tunggal
name = 'Ivan'
phone_number = '082188778877'

# Dibungkus dengan kutip ganda
name = "Ivan"
phone_number = "082188778877"

# 
print("Ini dicetak")

Ini dicetak

## Python Triple Quotes
Python triple quotes digunakan dengan membiarkan string ditulis dalam beberapa baris. Sintaks untuk triple quotes terdiri dari tiga tanda **kutip tunggal** atau **kutip ganda** ditulis berturut-turut.

In [1]:
long_string = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(long_string)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Mencari Panjang String
Panjang string (jumlah karakter dalam string) dapat dicari dengan menggunakan fungsi `len()`.

In [2]:
any = "How are you?"
print(len(any))

12

## String Formatting

### “Old Style” String Formatting (% Operator)

In [24]:
name = "John"

print('Hello, %s' % name)

Hello, John

### “New Style” String Formatting (str.format)

In [13]:
name = "John"

print('Hello, {}'.format(name))

Hello, John

### String Interpolation / f-Strings (Python 3.6+)

In [14]:
name = "John"

print(f'Hello, {name}!')

Hello, John!

### Template Strings (Standard Library)

In [19]:
from string import Template
name = "John"

t = Template('Hey, $name!')
t.substitute(name=name)

'Hey, John!'

# Boolean
Boolean adalah suatu tipe data yang hanya mempunyai dua nilai. Yaitu `True` atau `False` (benar atau salah)

In [1]:
x = True
y = False

print(x)
print(y)

True
False

# Operators

## Arithmetic Operators

In [5]:
x = 10
y = 3

print(f'10 + 3 = {x+y}')
print(f'10 - 3 = {x-y}')
print(f'10 * 3 = {x*y}')
print(f'10 / 3 = {x/y}')
print(f'10 % 3 = {x%y}')
print(f'10 ** 3 = {x**y}')
print(f'10 // 3 = {x//y}')

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 % 3 = 1
10 ** 3 = 1000
10 // 3 = 3

## Comparison Operators

In [25]:
x = 10
y = 12

print('x > y is',x>y)

print('x < y is',x<y)

print('x == y is',x==y)

print('x != y is',x!=y)

print('x >= y is',x>=y)

print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

## Logical Operators

In [24]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

# Kondisi
Kondisi if adalah kondisi yang akan dieksekusi oleh program jika bernilai benar atau TRUE

<div>
<img src="gambar/day2-2.png" width="500"/>
</div>

In [26]:
nilai = 9

#jika kondisi benar/TRUE maka program akan mengeksekusi perintah dibawahnya
if(nilai > 7):
    print("Sembilan Lebih Besar Dari Angka Tujuh") # Kondisi Benar, Dieksekusi

#jika kondisi salah/FALSE maka program tidak akan mengeksekusi perintah dibawahnya
if(nilai > 10):
    print("Sembilan Lebih Besar Dari Angka Sepuluh") # Kondisi Salah, Maka tidak tereksekusi

Sembilan Lebih Besar Dari Angka Tujuh

Kondisi if else adalah jika kondisi bernilai TRUE maka akan dieksekusi pada if, tetapi jika bernilai FALSE maka akan dieksekusi kode pada else



<div>
<img src="gambar/day2-3.png" width="500"/>
</div>

In [14]:
nilai = 3
#Jika pernyataan pada if bernilai TRUE maka if akan dieksekusi, tetapi jika FALSE kode pada else yang akan dieksekusi.
if(nilai > 7):
    print("Selamat Anda Lulus")
else:
    print("Maaf Anda Tidak Lulus")

Maaf Anda Tidak Lulus

Contoh penggunaan kondisi elif

<div>
<img src="gambar/day2-4.png" width="1000"/>
</div>

In [15]:
hari_ini = "Minggu"

if(hari_ini == "Senin"):
    print("Saya akan kuliah")
elif(hari_ini == "Selasa"):
    print("Saya akan kuliah")
elif(hari_ini == "Rabu"):
    print("Saya akan kuliah")
elif(hari_ini == "Kamis"):
    print("Saya akan kuliah")
elif(hari_ini == "Jumat"):
    print("Saya akan kuliah")
elif(hari_ini == "Sabtu"):
    print("Saya akan kuliah")
elif(hari_ini == "Minggu"):
    print("Saya akan libur")

Saya akan libur

# Perulangan

## While Loop

<div>
<img src="gambar/day2-5.png" width="500"/>
</div>

In [16]:
#Contoh penggunaan While Loop
#Catatan: Penentuan ruang lingkup di Python bisa menggunakan tab alih-alih menggunakan tanda kurung

angka = 0
while (angka < 9):
    print ("Angka: ", angka)
    angka = angka + 1

The count is:  0
The count is:  1
The count is:  2
The count is:  3
The count is:  4
The count is:  5
The count is:  6
The count is:  7
The count is:  8
Good bye!

## For Loop

For loop digunakan untuk mengakses setiap item yang berada di sebuah variabel iterasi seperti `list`, `set`, dan `tuple`

In [17]:
#Contoh pengulangan for pada tipe data list
angka = [1,2,3,4,5]
for x in angka:
    print(x)

buah = ["nanas", "apel", "jeruk"]
for makanan in buah:
    print ("Saya suka makan", makanan)

1
2
3
4
5
Saya suka makan nanas
Saya suka makan apel
Saya suka makan jeruk

Variabel `x` merepresentasikan setiap item yang berada di variabel `angka`. 

Variabel `makanan` merepresentasikan setiap item yang berada di variabel `buah`.

## Nested Loop

In [12]:
#Contoh penggunaan Nested Loop
#Catatan: Penggunaan modulo pada kondisional mengasumsikan nilai selain nol sebagai True(benar) dan nol sebagai False(salah)

i = 2
while(i < 100):
    j = 2
    while(j <= (i/j)):
        if not(i%j): break
        j = j + 1
    if (j > i/j) : print(i, " adalah prima")
    i = i + 1

2  adalah prima
3  adalah prima
5  adalah prima
7  adalah prima
11  adalah prima
13  adalah prima
17  adalah prima
19  adalah prima
23  adalah prima
29  adalah prima
31  adalah prima
37  adalah prima
41  adalah prima
43  adalah prima
47  adalah prima
53  adalah prima
59  adalah prima
61  adalah prima
67  adalah prima
71  adalah prima
73  adalah prima
79  adalah prima
83  adalah prima
89  adalah prima
97  adalah prima

<div>
<img src="gambar/day2-6.png" width="500"/>
</div>

# List

In [19]:
#Contoh sederhana pembuatan list pada bahasa pemrograman python
list1 = ['kimia', 'fisika', 1993, 2017]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]

In [20]:
#Cara mengakses nilai di dalam list Python

list1 = ['fisika', 'kimia', 1993, 2017]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  fisika
list2[1:5]:  [2, 3, 4, 5]

In [21]:
list = ['fisika', 'kimia', 1993, 2017]
print ("Nilai ada pada index 2 : ", list[2])

list[2] = 2001
print ("Nilai baru ada pada index 2 : ", list[2])

Nilai ada pada index 2 :  1993
Nilai baru ada pada index 2 :  2001

In [22]:
#Contoh cara menghapus nilai pada list python

list = ['fisika', 'kimia', 1993, 2017]

print (list)
del list[2]
print ("Setelah dihapus nilai pada index 2 : ", list)

['fisika', 'kimia', 1993, 2017]
Setelah dihapus nilai pada index 2 :  ['fisika', 'kimia', 2017]